<h1> Today </h1>

	<h3> Your feed </h3>

		<h4> Weather </h4>
			High: <%= @highF + "F, " + @highC + "C" %><br>
			Low: <%= @lowF + "F, " + @lowC + "C" %>

		<h4> Sentiments </h4>

		<h4> Stories </h4>

		<h4> Mosaic </h4>

		<h4> Events </h4>
